.change_lang{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.change_lang{
    position: relative;
    &:hover{

        p, .icon{
            color: var(--color-prime);
        }
    }
}

.lang_img_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    img{
        border-radius: 50%;
    }
}

.lang_var_wrap{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    right: 28px;
    top: 48px;
    width: 30px;
    border-radius: 20px;
    background: var(--color-bg-prime);
    border: 1px solid var(--color-text-title);
    align-items: center;
}

.chose_lang_item {
    padding: 10px 0px;
    color: var(--color-text-title);
    &:hover {
        cursor: pointer;
    }
}