
.home_page_wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.section_main_search{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 1440px;
    width: 100%;
    
}
.adversting{
    display: flex;
    width: 100%;
    padding: 0 20px;
    
}

h1{
    flex: 0 1 50%;
    margin-top: 90px;
    font-size: 70px;
    text-align: left;
    
}

.img_main_wraper{
    position: relative;
    img{
        position: absolute;
        right: -100rem;
        top: -60px;
        z-index: -99;
    }
}

section{
    
}

.section_routes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    max-width: 1440px;
    
}

.section_how-it-work{
    position: relative;
    // max-width: 1440px;
    width: 100%;
    margin-top: 100px;
    // background: var(--color-bg-second);

}

.section_news{
    position: relative;
    width: 100%;
    margin-top: 100px;
    max-width: 1440px;
}
.section_info{
    position: relative;
    width: 100%;
    margin-top: 100px;
    // max-width: 1440px;
}

.section_faq{
    position: relative;
    width: 100%;
    margin-top: 100px;
    max-width: 1440px;
    padding-bottom: 100px;
}


@media (max-width: 1453px) {

    .section_main_search{
        // margin: 0 20px;
        padding: 0 2%;
    }

    .loation_from{
        min-width: 150px;
    }
    .loation_to{
        min-width: 150px;
    }

    .section_routes{
        justify-content: center;
        gap: 50px;
    }
  }
@media (min-height: 1300px) {
    .section_main_search{
        max-height: 700px;  
    }
  }
@media (max-height: 780px) {
    .section_main_search{
        height: 100%;
        margin-bottom: 100px;
        
    }
  }
@media (max-width: 1142px) {
    .serch_routs_wraper{
        flex-direction: column;
        a{
            width: 100%;
            height: 100px;
        }
    }

    .serch_routs_items{
        border-radius: 20px 20px 0 0;
    }

    .search-btn{
        width: 100%;
        height: 100%;
        padding: 10px 0;
        border-radius: 0 0 20px 20px;
    }
  }

  @media (max-width:780px) {
    .section_news{
        max-width: 100vw;
    }
    .section_faq{
        max-width: 100vw;
    }

    .section_how-it-work{
        width: 100vw;
    }
  }
