
.home_page_wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.section_main_search{
    height: 100vh;
    max-width: 1440px;
    
}
.adversting{
    display: flex;
    width: 100%;
    
}

h1{
    flex: 0 1 50%;
    margin-top: 90px;
    font-size: 70px;
    text-align: left;
    
}

.img_main_wraper{
    position: relative;
    img{
        position: absolute;
        right: -105rem;
        top: 0;
        z-index: -99;
    }
}

.section_routes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    max-width: 1440px;
}

.section_how-it-work{
    position: relative;
    // max-width: 1440px;
    width: 100%;
    margin-top: 100px;
    // background: var(--color-bg-second);
}

.section_news{
    position: relative;
    width: 100%;
    margin-top: 100px;
    max-width: 1440px;
}
.section_info{
    position: relative;
    width: 100%;
    margin-top: 100px;
    // max-width: 1440px;
}

.section_faq{
    position: relative;
    width: 100%;
    margin-top: 100px;
    max-width: 1440px;
    padding-bottom: 100px;
}

