
.how_it_work_wraper{
    min-height: 630px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background: var(--color-bg-second);
}

.content_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}
.content_wrap_how-it-work{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
    gap: 10px;
}

.item_how-it-work{
    flex: 0 1 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 300px;
    min-width: 300px;
    height: 400px;
}

.item_text{
    text-align: center;
}


.svg-prime{
    fill: var(--color-prime);
}
.svg-prime-sec{
    fill: var(--color-second);
}


.svg-second{
    fill: var(--color-bg-second);
}

.item_h3{
    color: var(--color-text);
}

h3,h2,p{
    color: var(--color-text)
}


@media (max-width: 940px) {
    .section_how-it-work{

        
    }
    .content_wrap_how-it-work{
        justify-content: center;
    }
    .how_it_work_wraper{
        width: 100%;
        padding: 20px;
    }
  }