.login_wrap{
    position: absolute;
    display: flex;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    background: var(--color-bg-prime);
}

.left_block{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;
    p{
        color: var(--color-text-title);
    }
    
}

.back_home_login{
    display: flex;
    justify-content: left;
    align-items: center;
    // text-align: left;
    width: 100%;
    max-width: 400px;
    gap: 10px;
    color: var(--color-text-title);
    cursor: pointer;
    &:hover{
        color: var(--color-prime);
    }

}

.svg-login{
    rotate: 180deg;
}

.title_singin{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2, p{
        color: var(--color-text-title);
    }
}

.singin_wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

.switch_var-singin{
    display: flex;
    width: 100%;
    max-width: 400px;
    height: 50px;
    // border-radius: 15px;

}

.switch_item{
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.switch_item-left{
    border-radius: 15px 0 0 15px;
}
.switch_item-right{
    border-radius:  0 15px 15px 0 ;
}

.switch-active{
    background: var(--color-prime);
    p{
        color: var(--color-btn);
    }
    &:hover{
        background: var(--color-btn-hover);
    }
}

.switch-non-active{
    background: transparent;
    border: 1px solid var(--color-bg-second);
    p{
        color: var(--color-text-title);
    }
}

.input_wraper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button_singin{
    width: 100%;
}

.input_wraper-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    color: var(--color-text-title);
    span{
        color: red;
    }
    input{
        height: 50px;
        border-radius: 15px;
        background: transparent;
        padding: 10px;
        border: 1px solid var(--color-bg-second);
        color: var(--color-text-title);
    }
    
}

.input-checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        color: var(--color-text-title);
        text-align: end;
        width: 50%;
    }
}

.item-checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    input{
        display: none;
    }
    label{
        min-width: 24px;
        height: 24px;
        border: 1px solid var(--color-bg-second);
        border-radius: 5px;
        cursor: pointer;
    }
    p{
        width: 100%;
    }
}


.checked{
        background: var(--color-prime);
    }
    
.forgot_pasword-link{
    cursor: pointer;
    &:hover{
        color: var(--color-prime);
    }
}

.button_singin{
    height: 50px;
    background: var(--color-prime);
    border-radius: 15px;
}

.not_regist{
    display: flex;
    justify-content: space-between;
    width: 100%;
    p{
        color: var(--color-text-title);
        
        span{
            color: var(--color-prime);
            margin-left: 10px;
            &:hover{
                color: var(--color-btn-hover);
            }
        }
    }
}

.right_block{
    flex: 0 1 50%;
    img{
        border-radius: 0 0 0 200px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.registration_wraper{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: 100%;
    min-height: 800px;
    padding: 50px 10%;
    width: 100%;
    gap: 50px;
    // max-width: 600px;
    h2{
        color: var(--color-text-title);
    }
}

.wrap_content_regist{
    display: flex;
    width: 100%;
    gap: 20px;
}

.right_regist_block{
    flex: 0 1 50%;
    flex-direction: column;
    display: flex;
    gap: 20px;
}
.left_regist_block{
    flex: 0 1 50%;
}

.input_wraper-item-photo{
    input {
        border: 0;
    }
}