@import url(https://fonts.googleapis.com/css?family=Kanit:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  max-width: 1440px;
  /* padding: 0 50px; */
  display: flex; 
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

body::-webkit-scrollbar {
  width: 8px; /* Ширина вертикального скролбару */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-prime); /* Колір скролбару */
  border-radius: 8px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-bg-second); /* Колір скролбару при наведенні */
}
body::-webkit-scrollbar-track {
  background-color: var(--color-bg-prime); /* Колір треку скролбару */
}

#root{
  width: 100%;
}


/* color theme */

/* white */
  /* yelow */
  html[data-theme='yelow-white']{
    --color-bg-prime: #F6F7F1;
    --color-bg-second: #DDD;
    --color-text-title: #393939;
    --color-text: #393939;
    --color-btn: #fff;
    --color-prime: #E5C51C;
    --color-second: #1C54E5;
  }
  html[data-theme='violet-white']{
    --color-bg-prime: #F7F8FC;
    --color-bg-second: #DDD;
    --color-text-title: #393939;
    --color-text: #393939;
    --color-btn: #fff;
    --color-prime: #6D47D7;
    --color-second: #DDDDDD;
  }



/* dark */
  /* pink*/
  html[data-theme='dark_grey_pink']{
    --color-bg-prime: #4C4C4C;
    --color-bg-second: #E1E1E1;
    --color-text-title: #FFFFFF;
    --color-text: #4C4C4C;
    --color-btn: #fff;
    --color-prime: #EF395A;
    --color-second: #2B2B2B;
  }
  /* pink*/
  html[data-theme='violet-dark_gray']{
    --color-bg-prime: #3F1FC1;
    --color-bg-second: #FFFFFF;
    --color-text-title: #FFFFFF;
    --color-text: #210D73;
    --color-btn: #fff;
    --color-prime: #2A2A2A;
    --color-second: rgba(42, 42, 42, 0.10);
  }

